<div id="newsale_placeholder">
	
	<p>You must select a grade on the left for the sales form to appear!</p>
	
</div>




<div id="newsale_form">

<%= form_for @sale do |f| %>

	<% if @sale.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this post from being saved:</h2>

	      <ul>
	      <% @sale.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	<p>
	    <%= f.label "Customer" %><br />
		<%= f.text_field :customer_id, :class=>"hide_me"%>

		<input type="text" id="customer_auto" name="autocomp" autocomplete="<%=autocomplete_customer_name_sales_path%>" id_element="#sale_customer_id">

	  </p>

<div id="sale_amount_container">
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
</div>
	
<div id="sale_price_container">
	<p>
    	<%= f.label :price %><br />
	    <%= f.text_field :price %>
  	</p>
</div>
	<div class="clearfix"></div>
	
	<div id="sale_invoice_date_container" class="left">
	  <p>
	    <%= f.label :invoice_date %><br />
	    <%= f.text_field :invoice_date, :class=>"datepicker", :value=>Date.today %>
	  </p>
	</div>

	<div id="sale_receive_date_container" class="right">
		<p>
	    	<%= f.label :receive_date %><br />
		    <%= f.text_field :receive_date, :class=>"datepicker", :value=>Date.today+2  %>
	  	</p>
	</div>
		<div class="clearfix"></div>	


	<p>
    	<%= f.label :fob %><br />
	    <%= f.text_field :fob %>
  	</p>


<div id="sale_size_pref_container">
	<p>
    	<%= f.label :size_pref %><br />
	    <%= f.text_field :size_pref %>
  	</p>
</div>

<div id="sale_cotefr_container">
	<p>
    	<%= f.label "C/T/F" %><br />
	    <%= f.text_field :cotefr %>
  	</p>
</div>	
	<div class="clearfix"></div>	
	
	<p>
    	<%= f.label "Customer PO" %><br />
	    <%= f.text_field :customer_po %>
  	</p>
	
	<p>
    	<%= f.label :notes %><br />
	    <%= f.text_area :notes %>
  	</p>

	

	
	  
	
	
	<%= f.hidden_field :ratgrade_id %>
	

	<%= f.hidden_field :warehouse_id %> 
	
	<%= f.hidden_field :user_id, :value => current_user.id %> 
	<%= f.hidden_field :board_id, :value => @ratboard.id %> 
	<%= f.hidden_field :allocated, :value => "false" %> 
  <p>
    
	<input type="submit" class="btn btn-green big" value="Create">
  </p>
<% end %>


</div><!-- newsale_form -->