<p id="notice"><%= notice %></p>

<p>
  <b>Preport:</b>
  <%= @prediction.preport_id %>
</p>

<p>
  <b>User:</b>
  <%= @prediction.user_id %>
</p>

<p>
  <b>Aplushigh:</b>
  <%= @prediction.aplushigh %>
</p>

<p>
  <b>Apluslow:</b>
  <%= @prediction.apluslow %>
</p>

<p>
  <b>Ahigh:</b>
  <%= @prediction.ahigh %>
</p>

<p>
  <b>Alow:</b>
  <%= @prediction.alow %>
</p>

<p>
  <b>Aminushigh:</b>
  <%= @prediction.aminushigh %>
</p>

<p>
  <b>Aminuslow:</b>
  <%= @prediction.aminuslow %>
</p>

<p>
  <b>Bplusplushigh:</b>
  <%= @prediction.bplusplushigh %>
</p>

<p>
  <b>Bpluspluslow:</b>
  <%= @prediction.bpluspluslow %>
</p>

<p>
  <b>Twohhigh:</b>
  <%= @prediction.twohhigh %>
</p>

<p>
  <b>Twohlow:</b>
  <%= @prediction.twohlow %>
</p>

<p>
  <b>Bhigh:</b>
  <%= @prediction.bhigh %>
</p>

<p>
  <b>Blow:</b>
  <%= @prediction.blow %>
</p>


<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
