
<table class="full stylized">
  <tr>
    <th>Type</th>
    <th>Filename</th>
    <th>Size</th>
    <th>Ext.</th>
    <th>Uploaded at</th>
    <th></th>
    <th></th>
  </tr>

<% for attachment in @customer.attachments %>
  <tr>
    <td><%= link_to attachment.attachment_type, attachment.attachment.url %></td>
    <td><%= attachment.attachment_file_name %></td>
    <td><%= attachment.attachment_file_size %></td>
    <td><%= attachment.attachment_content_type %></td>
    <td><%= attachment.attachment_updated_at.strftime("%m/%d") %></td>
    <td><%= link_to 'Edit', edit_customer_attachment_path(@customer, attachment) %></td>
    <td><%= link_to 'Destroy', [@customer, attachment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_customer_attachment_path(@customer) %>
