<h1>New warehouse</h1>

<%= form_for(@warehouse) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :board_id %><br />
    <%= f.text_field :board_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', warehouses_path %>