<h1>New sale</h1>

<%= form_for [@ratgrade,@sale] do |f| %>

<p>
    <%= f.label "Customer ID" %><br />
	<%= f.text_field :customer_id, :class=>"hide_me"%>
	
	<input type="text" autocomplete="<%=autocomplete_customer_name_ratgrade_sales_path%>" id_element="#sale_customer_id">
	
  </p>



  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>

	<p>
  	<%= f.label :price %><br />
	    <%= f.text_field :price %>
	</p>

	<%= f.hidden_field :user_id, :value => current_user.id %> 
	  
	<%= f.hidden_field :warehouse_id, :value => @ratgrade.warehouse.id %> 
	<%= f.hidden_field :board_id, :value => @ratgrade.warehouse.board.id %> 
			<%= f.hidden_field :allocated, :value => "false" %> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sales_path %>